
@{
    ViewData["Title"] = "AddClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                <li class="breadcrumb-item">Society Management</li>
                <li class="breadcrumb-item active" aria-current="page"><b>Insert Employee</b></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link active" asp-controller="Employee" asp-action="AddEmployee">Add</a>
                    <a class="nav-item nav-link " asp-controller="Employee" asp-action="ViewEmployee">View</a>
                </ul>
                <div class="indicatorslist">
                    <a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="City"> Branch Name<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">

                        @*<select class="form-control" id="branch_id">
                            <option value="0">---Select---</option>
                            <option value="1">Pipili</option>
                            <option value="2">Khordha</option>
                            <option value="3">Kalpana</option>
                        </select>*@
                        <select class="form-control" id="branch_id" asp-items="@(new SelectList(ViewBag.Branch,"branch_id","Branch_Name")) ">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="City"> Designation<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">

                        <select class="form-control" id="DesgId" asp-items="@(new SelectList(ViewBag.Designation,"DesgId","DesgName")) ">
                          
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="City"> Role Name<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">

                        <select class="form-control" id="RoleId">
                            <option value="0">---Select---</option>
                            <option value="1">Admin</option>
                            <option value="2">Manager</option>
                            <option value="3">Front Office</option>
                            <option value="4">Customer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="City">Employee Type<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">

                        <select class="form-control" id="EmployeeType">
                            <option value="0">---Select---</option>
                            <option value="1">Full Time</option>
                            <option value="2">Contractual</option>
                           
                        </select>
                    </div>
                </div>
                <!--Static-->
                <div class="form-group row">
                    <input type="hidden" id="hdnClintID" />
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="Name">Employee Name<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <input type="text" id="EmployeeName" class="form-control" onchange="Namevalidation('EmployeeName','lblErrorName')" />
                        <span id="lblErrorName" style="color:red"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="Address">Date Of Joining<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <input type="date" id="DateOfJoin" class="form-control">
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="phoneno">Choose Photo<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <input type="file" id="Photo" class="form-control" >
                        
                    </div>
                </div>


                @*BUTTONS*@
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <button class="btn btn-primary mb-1" id="btnSubmit">Submit</button>
                        <button class="btn btn-danger mb-1" id="btnCancel">Reset</button>
                        <input type="text" hidden id="Eid">
                    </div>
                </div>
            </div>
            <!--===================================================
            <!-- END BASIC FORM ELEMENTS -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //breadcumb
        loadNavigation('AddClient', 'gldata', 'plsubmission', 'AddClient', '', 'AddClient');
        var id = getUrlVars()["id"];
        if (id != undefined) {
            $("#btnSubmit").html("Update");
            $("#btnCancel").html("Cancel");
            Edit(id)
        }

    });

</script>

<script type="text/javascript">

    $("#btnCancel").click(function () {

        if ($("#Eid").val() != '') {
            window.location.href = "/Employee/ViewEmployee";
        }
        else
            reset();
    })

    $("#btnSubmit").click(function () {

         var Photo = $("#Photo").val();
        if (Photo == "") {
            alert("Please select Photo")
            return false;
        }

        var files = $('#Photo').prop("files");

        formData = new FormData();
        formData.append("MyUploader", files[0]);

        $.ajax({
            data: formData,
            url: '@Url.Action("UploadImage", "Employee")',
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            dataType:"json",
            //beforeSend: function (xhr) {
            //    xhr.setRequestHeader("XSRF-Token",
            //        $('input:hidden[name="__RequestVerificationToken"]').val());
            //},
            success: function (data) {
                if (data.status == "success") {
                    //alert("File : " + repo.filename + " is uploaded successfully");
                }
            },
            error: function () {
                alert("Error occurs");
            }

        });


        var doc = {
            Eid: $("#Eid").val(),
            EmployeeName: $("#EmployeeName").val(),
            branch_id: $("#branch_id").val(),
            DesgId: $("#DesgId").val(),
            DateOfJoin: $("#DateOfJoin").val(),
            EmployeeType: $("#EmployeeType ").val(),
            RoleId: $("#RoleId").val(),
            Photo: $("#Photo").val()


        };
        if (validate() && Namevalidation('EmployeeName', 'lblErrorName') == true) {
        if (confirm("Are you sure you want to Submit ?")) {

            $.ajax({
                url: "/Employee/AddEmployee",
                data: doc,
                type: "POST",
                success: function (result) {
                    if (result != "Record Already Exist") {
                        alert(result);
                        window.location.href = "/Employee/ViewEmployee";

                    }
                    else
                    alert(result);
                   

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
         }


    });
    //validation
    function validate() {

        if ($('#branch_id').val() == "0") {
            alert("Please Select Branch!");
            return false;
            $('#branch_id').focus();
        }
        else if ($('#DesgId').val() == "0") {
            alert("Please Select One Designation!");
            return false;
            $('#DesgId').focus();
        }
        else if ($('#RoleId').val() == "0") {
            alert("Please Select One Role");
            $('#ddlcity').focus();
            return false;
        }

        else if ($('#EmployeeType').val() == "0") {
            alert("Please Select Type!");
            return false;
            $('#EmployeeType').focus();
        }
        else if ($('#EmployeeName').val() == "") {
            alert("Please Enter Employee Name!");
            return false;
            $('#EmployeeName').focus();
        }
        else if ($('#DateOfJoin').val() == "") {
            alert("Please Enter Date Of Joining!");
            return false;
            $('#DateOfJoin').focus();
        }

        else if ($('#Photo').val() == "") {
            alert("Please Choose Photo!");
            return false;
            $('#Photo').focus();
        }

        else {
            $("#btnCancel").hide();
            return true;
        }

    }

    //UPDATE
    function Edit(ClintID) {

        $.ajax({
            url: "/Employee/GetByIdEmployee?id=" + ClintID,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (Result) {
                $('#Eid').val(Result.Eid);
                $("#EmployeeName").val(Result.EmployeeName);
                $("#branch_id").val(Result.branch_id);
                $("#DesgId").val(Result.DesgId);
         
                $('#DateOfJoin').val(Result.DateOfJoin);
                $("#EmployeeType ").val(Result.EmployeeType);
                $("#RoleId").val(Result.RoleId);

            
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
    //Reset
    function reset() {
        $("#branch_id").val("0");
        $("#DesgId").val("0");
        $("#EmployeeType").val("0");
        $("#RoleId").val("0");
        $('#DateOfJoin').val("");
        $("#EmployeeName").val("");
        

    }
</script>




