@model Bank.Domain.Login.LoginEntity
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers*@
@{

    Layout = null;
}
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .captcha_refersh:hover {
            transition: .4s;
            transform: scale(0.90);
        }

        .captcha_form {
            width: 40px;
            border: none;
            outline: none;
            background: #888;
            color: black;
            cursor: pointer;
            border-radius: 0.5em;
            margin-left: 5px;
        }

        .form_input_captcha:focus {
            border: .1em solid rgb(28,164,248);
        }
        .preview span {
            display: inline-block;
            user-select: none;
        }
        .preview {
            color: #555;
            width: 100%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            letter-spacing: 8px;
            border: 1px dashed #888;
            border-radius: 0.5em;
            margin-bottom: 1.6em;
        }
    </style>
</head>
@if (ViewBag.msg != null)
{
    @*<script>

               // alert("@ViewBag.msg");
                Swal.fire("jhbhj");


        </script>*@
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="~/css/aa.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/27be94b9e4.js" crossorigin="anonymous"></script>
<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="contact">
                    <div class="" name="myform" id="submit">

                        <h3>SIGN IN</h3>
                        <input type="text" class="" asp-for="USER_ID" placeholder="USERID">
                        <input type="password" asp-for="USER_PASSWORD" placeholder="PASSWORD">

                        <input type="text" id="capcha" placeholder="Capcha">
                        
                        <div class="preview"></div>
                        <button class="captcha_refersh">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button class="submit" id="btnLogin">LET'S GO</button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right-text">
                    <h2>SMS</h2>
                    <h5>YOUR PERFECT BANKING PARTNER</h5>
                </div>
                @*<div class="right-inductor"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKjeFJJzZrbtAJ7dqYA0v3SdEWJIERyFPQAj9JqGw5c5pEwnQX5lR18QYmyWPp9XFv4k4&usqp=CAU" alt=""></div>*@
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

     $("#btnLogin").click(function () {
        if ($("#USER_ID").val() == "") {
            Swal.fire({
                icon: 'info',
                title: 'Oops...',
                text: 'ENTER USERNAME',

            })
            document.myform.USER_ID.focus();
            return false;
        }
        if ($("#USER_PASSWORD").val() == "") {
            Swal.fire({
                icon: 'info',
                title: 'Oops...',
                text: 'Please Enter Password',

            })
            document.myform.USER_PASSWORD.focus();
            return false;
        }

         if ($("#capcha").val() == "") {
            Swal.fire({
                icon: 'info',
                title: 'Oops...',
                text: 'Please Enter Captcha',

            })

            return false;
        }
         if ($("#capcha").val() != captchaValue) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid Captcha',

            })

            return false;
        }

        else {
            var login = {
                USER_ID: $("#USER_ID").val(),
                USER_PASSWORD: $("#USER_PASSWORD").val(),
            };
            $.ajax({
                url: "/Login/loginpage",
                data: login,
                type: "POST",
                success: function (result) {
                    if (result == 1) {
                                window.location.href = '/AddaccountSales/AccountType/';

                    }
                    else if (result == 2) {
                       
                                window.location.href = '/AdminDashboard/Account/';
                           

                    }
                    else if (result == 3) {
                       
                                window.location.href = '/AccountOpening/index';
                           




                    }
                    else if (result == 4) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Check your User ID and Password!',

                        })
                    }

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    });

    let captchaValue = "";
    (function () {
        const fonts = ["cursive"];

        function gencaptcha() {
            let value = btoa(Math.random() * 10000);
            value = value.substr(0, 5 + Math.random() * 5);
            captchaValue = value;
        }

        function setcaptcha() {
            let html = captchaValue.split("").map((char) => {
                const rotate = -20 + Math.trunc(Math.random() );
                const font = Math.trunc(Math.random());
                return `<span
            style="
            transform:rotate(${rotate}deg);
            font-family:${font[font]};
            "
           >${char} </span>`;
            }).join("");
            document.querySelector(".preview").innerHTML = html;
        }

        function initCaptcha() {
            document.querySelector(" .captcha_refersh").addEventListener("click", function () {
                gencaptcha();
                setcaptcha();
            });

            gencaptcha();
            setcaptcha();
        }
        initCaptcha();


    })
        ();
</script>
